<body class="p-6">
    <div class="max-w-lg mx-auto bg-c1 p-8 rounded-lg shadow-md">
        <h1 class="block text-c2 font-semibold text-lg text-center">Add a new item</h1>
        <form class="space-y-4">
            <!-- Dropdown list of ingredients -->
            <div>
                <label for="ingredients" class="block text-c2">Ingredients</label>
                <select id="ingredients" class="block w-full mt-1 border-c3 rounded-md p-2">
                    <option *ngFor="let ingredient of ingredients">{{ ingredient }}</option>
                </select>
            </div>

            <!-- Servings - number, dropdown -->
            <div>
                <label for="servings" class="block text-c2">Servings</label>
                <select id="servings" class="block w-full mt-1 border-c3 rounded-md p-2">
                    <option *ngFor="let serving of servings">{{ serving }}</option>
                </select>
            </div>

            <!-- Serving size, number, dropdown -->
            <div>
                <label for="serving-size" class="block text-c2">Serving Size</label>
               <input type="text" class="block w-full mt-1 border-c3 rounded-md p-2">
            </div>

            <!-- Units for serving size -->
            <div>
                <label for="units" class="block text-c2">Units</label>
                <select id="units" class="block w-full mt-1 border-c3 rounded-md p-2">
                    <option *ngFor="let unit of units">{{ unit.name }} ({{ unit.abbreviation }})</option>
                </select>
            </div>

            <!-- Expiry Date -->
            <div>
                <label for="expiry-date" class="block text-c2">Date of Expiry</label>
                <input type="date" id="expiry-date" class="block w-full mt-1 border-c3 rounded-md p-2">
            </div>

            <!-- Submit button -->
            <div>
                <button type="submit" class="w-full bg-c4 text-white py-2 px-4 rounded-md shadow-sm hover:bg-c3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 font-semibold">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>