<body class="bg-c1 min-h-screen flex flex-col">
      <app-navbar *ngIf="showNavbar"></app-navbar>
    
      <div class="rounded-md m-5 border-2 border-c4 bg-bg1 min-h-screen flex flex-col relative">
        <!-- Background Image -->
        <div class="absolute inset-0 bg-no-repeat bg-center bg-cover z-10" style="background-image: url('/assets/formkakis.png');"></div>
        
        <!-- Content Container -->
        <div class="relative z-20 p-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </body>