<body class="p-6">
  <div class="max-w-lg mx-auto bg-c1 p-8 rounded-lg shadow-md">
    <h1 class="block text-c2 font-semibold text-lg text-center">Add an ingredient</h1>
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="space-y-4">
      <!-- Ingredient input -->
      <div>
        <input
          id="ingredients"
          formControlName="ingredient"
          type="text"
          class="block w-full mt-1 border-c4 rounded-md p-2"
          placeholder="Enter an ingredient to search"
        />
      </div>

      <!-- Submit button -->
      <div>
        <button
          type="submit"
          class="w-full bg-c2 text-white py-2 px-4 rounded-md shadow-sm hover:bg-c4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 font-semibold"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <!-- Displaying search results -->
  <div *ngIf="productList.length > 0" class="mt-6">
    <h2 class="text-c2 font-semibold text-lg text-center">Search Results</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
      <div
        *ngFor="let p of productList"
        class="p-4 border border-c4 rounded-md shadow-md flex flex-col"
      >
        <!-- <img
          [src]="p.image"
          alt="{{ p.label }}"
          class="w-24 h-24 mx-auto"
        /> -->
        <div>
          <h3 class="text-c2 font-semibold mt-2">{{ p.label }}</h3>
          <p class="text-c2 italic">{{ p.brand }}</p>
        </div>
        <div class="mt-2 flex-grow">
            <h4 class="text-c2">Serving Size: {{ p.servingSizeWeight }}g</h4>
        </div>          
        <div class="mt-4 flex justify-end">
          <button class="text-c1 text-2xl bg-c2 font-semibold rounded-full w-12 h-12 flex items-center justify-center hover:bg-c4 hover:text-white">
            +
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- No results found message -->
  <div *ngIf="productList.length === 0 && searchPerformed" class="mt-6 text-center">
    <h2 class="text-c2 font-semibold text-lg">No results found</h2>
  </div>
</body>
