<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You have been added to a household</title>
</head>
<body>
 

    <img src="cid:backgroundImage" alt="backgroundImage" style="width: 40%; height: auto;">
    <p>Hello,</p>
    <p>You have been added to the household "<b th:text="${householdName}">Household</b>".</p>
    <p>Start managing your household together!</p>
    <br>
    <p>Best regards,</p>
    <p>Kitchen Kakis Team</p>
    <img src="cid:logo" alt="logo"  style="width: 10%; height: auto;">
</body>
</html>
